# Set URL for your scoped packages.
# For example package with name `@utfprfabricadesoftware/utfpr-lib-ui-react` will use this URL for download
@utfprfabricadesoftware:registry=https://gitlab.com/api/v4/packages/npm/
